* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #181818;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.max-width {
    padding: 0 80px;
}


/****** text ******/
.font-size-75px {font-size: 75px;}
.font-size-40px {font-size: 40px;}
.font-size-35px {font-size: 35px;}
.font-size-27px {font-size: 27px;}

.font-weight-bold {font-weight: bold;}

.text-color-white {color: #ffffff;}
.text-color-aqua {color: #00ffff;}
.text-color-blue {color: #0066ff;}


/***** colors *****/
:root {
    --clrWh: #ffffff;
    --clrGb: #dcdcdc;
    --clrAq: #00ffff;
    --clrAqhover: #00b8b8;
    --clrBl: #0066ff;
}

/* primary-header */
.primary-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.logo {
    position: fixed;
    margin-top: 1em;
    margin-left: 1em;
}

.primary-navigation {
    position: fixed;
    display: flex;
    height: 50px;
    top: 0;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:#202020;
    align-items: center;
}

.primary-navigation a {
    text-decoration: none;
    margin-right: 1em;
    margin-left: 1em;
}

.primary-navigation a:hover {
    color: var(--clrAqhover);
}

.primary-navigation a > span {
    font-size: 18px;
    font-weight: 700;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35em) {
    .mobile-nav-toggle {
        font-size: 32px;
        position: fixed;
        display: flex;
        z-index: 9999;
        background-color: transparent;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
    .primary-navigation {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .primary-navigation[data-visible = "true"] {
        transform: translateX(0%);
    }
}


/****** home ******/
.home {
    margin-top: 10em;
    margin-bottom: 30em;
}

@media (max-width: 947px) {
    .home .home-content .text-2 {
      font-size: 70px;
    }
    .home .home-content .text-3 {
      font-size: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
      padding: 0 23px;
    }
    .home .home-content .text-2 {
      font-size: 60px;
    }
    .home .home-content .text-3 {
      font-size: 32px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
      font-size: 50px;
    }
    .home .home-content .text-3 {
      font-size: 27px;
    }
}

@media (max-width: 991px) {
    .max-width {
      padding: 0 50px;
    }
}


/****** about ******/
.about .title {
    text-align: center;
}